<div class="container m-gab-3">
  <!-- Title -->
  <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-9">

      <h2 class="fw-500">हमें <mark data-aos="highlight-text" data-aos-delay="200" class="aos-init">अपने</mark> बारे में बताएं</h2>
      <p class="lead">चाहे आपके पास प्रश्न हों या आप हैलो कहना चाहते हों, हमसे संपर्क करें।</p>
  </div>
  <!-- End Title -->

  <div class="w-lg-80 mx-auto">
      <!-- Contacts Form -->
      <form class="js-validate" novalidate="novalidate">
          <div class="row">
              <!-- Input -->
              <div class="col-sm-6 mb-6">
                  <div class="js-form-message">
                      <label class="form-label">
                          आपका नाम 
                          <span class="text-danger">*</span>
                      </label>

                      <input type="text" class="form-control" name="name" placeholder="Jhon Doe" aria-label="Jhon Doe" required="" data-msg="Please enter your name." data-error-class="u-has-error" data-success-class="u-has-success">
                  </div>
              </div>
              <!-- End Input -->
              <!-- Input -->
              <div class="col-sm-6 mb-6">
                  <div class="js-form-message">
                      <label class="form-label">
                          ईमेल पता 
                          <span class="text-danger">*</span>
                      </label>

                      <input type="email" class="form-control" name="email" placeholder="your@gmail.com" aria-label="your@gmail.com" required="" data-msg="Please enter a valid email address." data-error-class="u-has-error" data-success-class="u-has-success">
                  </div>
              </div>
              <!-- End Input -->

              <div class="w-100"></div>

              <!-- Input -->
              <div class="col-sm-6 mb-6">
                  <div class="js-form-message">
                      <label class="form-label">
                          विषय
                          <span class="text-danger">*</span>
                      </label>

                      <input type="text" class="form-control" name="subject" placeholder="Vertex design" aria-label="Vertex design" required="" data-msg="Please enter a subject." data-error-class="u-has-error" data-success-class="u-has-success">
                  </div>
              </div>
              <!-- End Input -->
              <!-- Input -->
              <div class="col-sm-6 mb-6">
                  <div class="js-form-message u-has-success">
                      <label class="form-label">
                          फ़ोन नंबर
                          <span class="text-danger">*</span>
                      </label>

                      <input type="number" class="form-control" name="phone" placeholder="+91 9903248480" aria-label="+91 9903248480" required="" data-msg="Please enter a valid phone number." data-error-class="u-has-error" data-success-class="u-has-success" aria-invalid="false">
                  </div>
              </div>
              <!-- End Input -->
          </div>

          <!-- Input -->
          <div class="js-form-message mb-6">
              <label class="form-label">
                  हम आपकी किस प्रकार सहायता कर सकते हैं?
                  <span class="text-danger">*</span>
              </label>

              <div class="input-group">
                  <textarea class="form-control" rows="4" name="text" placeholder="हम आपकी कैसे मदद कर सकते हैं?" aria-label="हम आपकी कैसे मदद कर सकते हैं?" required="" data-msg="Please enter a reason." data-error-class="u-has-error" data-success-class="u-has-success"></textarea>
              </div>
          </div>
          <!-- End Input -->

          <div class="text-center">
              <button type="submit" class="btn btn-primary btn-wide transition-3d-hover mb-4">मेसेज भेजें</button>
              <p class="small">हम 1-2 व्यावसायिक दिनों में आपके पास वापस आ जाएंगे।</p>

              <div class="social social-bg-gray social-lg text-center">
                  <a class="social-facebook" href="#"><i class="fab fa-facebook"></i></a>
                  <a class="social-twitter" href="#"><i class="fab fa-twitter"></i></a>
                  <a class="social-gplus" href="#"><i class="fab fa-google-plus"></i></a>
                  <a class="social-instagram" href="#"><i class="fab fa-instagram"></i></a>
                  <a class="social-linkedin" href="#"><i class="fab fa-linkedin"></i></a>
                  <a class="social-git" href="#"><i class="fab fa-git"></i></a>
              </div>
          </div>
      </form>
      <!-- End Contacts Form -->
  </div>
</div>