<div class="container m-gab-1">
  <div class="row">
      <div class="col-md-5">
          <ul class="list-inline mb-0 text-center text-lg-left">
              <li class="list-inline-item"><a class="m-list--link" href="#"><i class="icon-chat-1 fs-17 text-primary mr-1"></i> Chat </a></li>
              <li class="list-inline-item"><a class="m-list--link" href="#"><i class="icon-camera-landscape fs-17 text-primary mr-1"></i> English </a></li>
              <li class="list-inline-item"><a class="m-list--link" href="#"><i class="icon-headphone fs-17 text-primary mr-1"></i> +45 3212 5680 </a></li>
          </ul>
      </div>
      <div class="col-md-2 center">
          <img src="/assets/images/logo.png" class="center my-2 my-lg-0" width="80">
      </div>
      <div class="col-md-5">
          <ul class="list-inline mb-0 text-center text-lg-right">
              <li class="list-inline-item"><a class="m-list--link" href="#">© Master 2019</a></li>
              <li class="list-inline-item"><a class="m-list--link" href="#">Blog</a></li>
              <li class="list-inline-item"><a class="m-list--link" href="#">Privacy</a></li>
              <li class="list-inline-item"><a class="m-list--link" href="#">Terms</a></li>
              <li class="list-inline-item"><a class="m-list--link" href="#">Securty</a></li>
          </ul>
      </div>
  </div>
</div>