<div class="container m-gab-1">
  <div class="row">
      <div class="col-md-5">
          <ul class="list-inline mb-0 text-center text-lg-left">
              <li class="list-inline-item"><a class="m-list--link" href="#"><i class="icon-chat-1 fs-17 text-primary mr-1"></i> चैट </a></li>
              <li class="list-inline-item"><a class="m-list--link" href="#"><i class="icon-camera-landscape fs-17 text-primary mr-1"></i> अंग्रेज़ी </a></li>
              <li class="list-inline-item"><a class="m-list--link" href="#"><i class="icon-headphone fs-17 text-primary mr-1"></i> +91 9903248480 </a></li>
          </ul>
      </div>
      <div class="col-md-2 center">
          <p>
          <img src="/assets/images/MounGoonjLogo.png" class="center my-lg-0 mr-1" width="40"/>
          <span class="fs-16">मौन गूँज</span>
        </p>
      </div>
      <div class="col-md-5">
          <ul class="list-inline mb-0 text-center text-lg-right">
              <li class="list-inline-item"><a class="m-list--link" href="#">© 2020</a></li>
              <li class="list-inline-item"><a class="m-list--link" href="#"> ब्लॉग </a></li>
              <li class="list-inline-item"><a class="m-list--link" href="#"> एकांत </a></li>
              <li class="list-inline-item"><a class="m-list--link" href="#"> शर्तें </a></li>
              <li class="list-inline-item"><a class="m-list--link" href="#"> सुरक्षा </a></li>
          </ul>
      </div>
  </div>
</div>