<div class="container m-gab-2"> 
  <div class="row">
      <div class="col-sm-5 mb-5 mb-lg-0">
          <p>
              <img alt="Vertex" src="/assets/images/MounGoonjLogo.png" class="mr-1 mb-2" width="60">
              <span class="fs-20 mt-2">मौन गूँज</span>
          </p>
          <p class="fs-20 ml-2">
              <span class="m-link">मास्टर</span> व्यवसाय के लिए नवाचार मंच
              है। और बिल्लियों।
          </p>
          <span class="fs-12">हमें </span>
          <a href="#" class="primary-color fs-12">Facebook</a>,
          <a href="#" class="primary-color fs-12">LinkIn</a>,
          <a href="#" class="primary-color fs-12">Twitter</a>,
          <a href="#" class="primary-color fs-12">Instagram</a>
          <span class="fs-12">पर फॉलो करें</span>
      </div>
      <div class="col-sm-3 mb-5 mb-lg-0">
          <h3 class="h6 text-uppercase fs-14">
              <strong>समाधान</strong>
          </h3>
          <ul class="list-unstyled mb-0">
              <li><a class="m-list--link" href="#">मास्टर प्रबंधन</a></li>
              <li><a class="m-list--link" href="#">जारी रखा</a></li>
              <li><a class="m-list--link" href="#">कर्मचारी को काम पर लगाना</a> </li>
              <li><a class="m-list--link" href="#">परिवर्तन प्रबंधन</a> </li>
              <li><a class="m-list--link" href="#">और देखो...</a> </li>
          </ul>
      </div>
      <div class="col-sm-2 mb-5 mb-lg-0">
          <h3 class="h6 text-uppercase fs-14">
              <strong>उत्पाद</strong>
          </h3>
          <ul class="list-unstyled mb-0">
              <li><a class="m-list--link" href="#">मास्टर क्यों</a></li>
              <li><a class="m-list--link" href="#">निशुल्क साइन अप करें</a></li>
              <li><a class="m-list--link" href="#">एक डेमो प्राप्त करें</a> </li>
              <li><a class="m-list--link" href="#">विशेषताएं</a> </li>
              <li><a class="m-list--link" href="#">मूल्य निर्धारण</a> </li>
          </ul>
      </div>
      <div class="col-sm-2">
          <h3 class="h6 text-uppercase fs-14">
              <strong>ग्राहकों</strong>
          </h3>
          <ul class="list-unstyled mb-0">
              <li><a class="m-list--link" href="#">गेटिंग स्टार्टेड गाइड</a></li>
              <li><a class="m-list--link" href="#">ग्राहक सफलता</a></li>
              <li><a class="m-list--link" href="#">प्यार की दीवार</a> </li>
              <li><a class="m-list--link" href="#">सहायता केंद्र</a> </li>
              <li><a class="m-list--link" href="#">भागीदारों</a> </li>
          </ul>
      </div>
  </div>
</div>