<script src="/assets/vendor/js/jquery.min.js"></script>
<script src="/assets/vendor/js/jquery-migrate.min.js"></script>
<script src="/assets/vendor/js/jquery.visible.min.js"></script>
<script src="/assets/vendor/js/jquery.easing.min.js"></script>
<script src="/assets/vendor/js/popper.js"></script>
<script src="/assets/vendor/js/bootstrap.min.js"></script>
<script src="/assets/vendor/js/jquery.cubeportfolio.min.js"></script>
<script src="/assets/vendor/js/cubeportfolio.init.js"></script>
<script src="/assets/vendor/js/slick.js"></script>
<script src="/assets/vendor/js/svg-injector.min.js"></script>

<script src="/assets/vendor/js/other.js"></script>
<script src="/assets/vendor/js/page.js"></script>
<script src="/assets/vendor/js/script.js"></script>

<!-- Theme Custom -->
<script src="/assets/vendor/js/custom.js"></script>