<section class="pt-2">
  <div class="container">
      <div class="row align-items-center pt-8">
          <div class="col-sm-12 col-lg-6">
              <div id="svg_parent" class="mb-sm-8 mb-md-4 mb-lg-0">
                  <figure class="ie-main-hero">
                      <img class="js-svg-injector" src="/assets/svgs/svg3.svg" alt="Image Description"
                           data-img-info='[{"targetId": "#svg_changing_id", "src": "/assets/images/profile-logo.png"}]'
                           data-parent="#svg_parent">
                  </figure>
              </div>
          </div>
          <div class="col-sm-12 col-lg-6">
              <div class="clearfix text-center text-lg-left">
                  <h2 class="display-4">
                      मौन गूँज <br/>
                      <!-- <span class="text-primary" data-typing="मौन गूँज, ऑनलाइन पत्रिका" data-back-speed="75"></span> -->
                  </h2>
                  <h2 class="display-5">
                      <!-- साहित्य, संस्कृति, कला एवं शोध की त्रैमासिकी -->
                      <span class="text-primary" data-typing="ऑनलाइन पत्रिका, साहित्य, संस्कृति, कला एवं शोध की त्रैमासिकी" data-back-speed="75"></span>
                  </h2>
                  <p class="mt-3 mb-4"> 
                      विवामस ने एक क्वॉलम कॉपर को बताया, लेकिन उसने कहा, यह ठीक नहीं है, लेकिन यह अभी भी नहीं है। इसके अलावा, लेकिन यह भी कीमत के लिए तैयार है। क्वालिवलिस लैगूला में एसईडी
                      इसके अलावा, लेकिन यह भी कीमत के लिए तैयार है। क्वालिवलिस लैगूला में एसईडी...
                  </p>
                  <a href="#" class="btn btn-sleek-primary pr-4 pl-4 transition-hover mr-3">
                      हमारे बारे में अधिक
                  </a>
                  <div class="d-inline-block">
                      <div class="media align-items-center text-left">
                          <div class="mr-2">
                              <a class="btn btn-pill btn-sleek-primary" href="https://www.youtube.com/watch?v=bmixiVwtDso" data-provide="lightbox">
                                  <i class="fa fa-play fs-12" style="margin-left: .15rem;"></i>
                              </a>
                          </div>
                          <div class="media-body">
                              <a class="mb-0 text-default" href="https://www.youtube.com/watch?v=bmixiVwtDso" data-provide="lightbox">वीडियो देखें</a>
                          </div>
                      </div>
                  </div>

              </div>
          </div>
      </div>
  </div>
</section>