<meta name="keywords" content="Moun Goonj" />
<meta name="description" content="Moun Goonj - Responsive HTML5 Template">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link rel="shortcut icon" type="image/x-icon" href="/assets/favicon/favicon.ico" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Web Fonts  -->
<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600" rel="stylesheet">
<!-- <link href="https://fonts.googleapis.com/css2?family=Gotu&display=swap" rel="stylesheet"> -->
<link href="https://fonts.googleapis.com/css2?family=Amita:wght@400;700&family=Gotu&family=Open+Sans&display=swap" rel="stylesheet">

<!-- Libs CSS -->
<link href="/assets/vendor/css/bootstrap.css" rel="stylesheet" />
<link href="/assets/vendor/css/all.min.css" rel="stylesheet" />
<link href="/assets/vendor/css/fontawesome.min.css" rel="stylesheet" />
<link href="/assets/vendor/css/streamline-icon.css" rel="stylesheet" />
<link href="/assets/vendor/css/cubeportfolio.min.css" rel="stylesheet" />
<link href="/assets/vendor/css/header.css" rel="stylesheet" />
<link href="/assets/vendor/css/style.css" rel="stylesheet" />
<link href="/assets/vendor/css/utilities.css" rel="stylesheet" />

<!-- Skin -->
<link rel="stylesheet" href="/assets/vendor/css/default.css">

<!-- Custom CSS -->
<link rel="stylesheet" href="/assets/vendor/css/custom.css">